<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>プログラマー</key>
	<dict>
		<key>用語</key>
		<dict>
			<key>もくもく会</key>
			<dict>
				<key>詳細</key>
				<string>みんなで</string>
				<key>画像名</key>
				<string>mokumoku.jpg</string>
				<key>用語名</key>
				<string>もくもく会</string>
			</dict>
            <key>Hello World</key>
            <dict>
                <key>詳細</key>
                <string>数々のプログラマーの処女を奪った伝説のプレイボーイ</string>
                <key>画像名</key>
                <string>helloworld.jpg</string>
                <key>用語名</key>
                <string>Hello World</string>
            </dict>
		</dict>
		<key>画像名</key>
		<string>pro.jpeg</string>
		<key>カテゴリ名</key>
		<string>プログラマーですたい</string>
	</dict>
	<key>相撲界</key>
	<dict>
		<key>用語</key>
		<dict>
			<key>ハコテ</key>
			<dict>
				<key>詳細</key>
				<string>卑怯な手を平然と使う</string>
				<key>画像名</key>
				<string>hako.jpg</string>
				<key>用語名</key>
				<string>ハコテ</string>
			</dict>
		</dict>
		<key>画像名</key>
		<string>sumou.jpeg</string>
		<key>カテゴリ名</key>
		<string>相撲界やねん</string>
	</dict>
	<key>合コン</key>
	<dict>
		<key>画像名</key>
		<string>goukonn.jpeg</string>
		<key>カテゴリ名</key>
		<string>ごじゃ合コンじゃ</string>
		<key>用語です</key>
		<dict>
			<key>ゴッホ</key>
			<dict>
				<key>画像名</key>
				<string>gohho.jpg</string>
				<key>詳細</key>
				<string>可愛かったなと黄昏ること</string>
				<key>用語名</key>
				<string>ゴッホ</string>
			</dict>
			<key>関ヶ原</key>
			<dict>
				<key>詳細</key>
				<string>10対10以上の合コン</string>
				<key>画像名</key>
				<string>seki.jpg</string>
				<key>用語名</key>
				<string>関ヶ原</string>
			</dict>
		</dict>
	</dict>
	<key>航空業界</key>
	<dict>
		<key>用語</key>
		<dict>
			<key>ミラクルフライト</key>
			<string>搭乗する際には手助けが必要だった年配の乗客が、降りるときは「奇跡的に」車椅子を使う必要がなかったとき</string>
			<key>スリムクラッカー</key>
			<string>夜間勤務中に同僚と交流せず一直線にホテルの部屋へ向かって（ドアを「スラム（バタンと閉める）し」）、そのまま朝まで出てこない（鍵を「クリック（カチッと閉める）する」）キャビンアテンダント。</string>
		</dict>
		<key>画像名</key>
		<string>CA.jpeg</string>
		<key>カテゴリ名</key>
		<string>航空業界</string>
	</dict>
	<key>大学</key>
	<dict>
		<key>カテゴリ-名</key>
		<string>大学</string>
		<key>用語</key>
		<dict>
			<key>大学生</key>
			<string>大学生だよ</string>
		</dict>
		<key>画像名</key>
		<string>daigaku.jpeg</string>
	</dict>
</dict>
</plist>
